/* Body */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.list,
hr,
.banner,
.contenedor {
	margin: 0 15% 0 15% !important;
}
body {
	background: white;
	font-family: "Montserrat", sans-serif;
}

/* Logooo */
.logo {
	display: flex;
	margin: 0 auto;
	justify-content: center;
}

.logo img {
	width: 7rem;
}

.logo {
	justify-content: center;
	margin: 0 auto;
}

.logoh1 {
	margin-top: -1.2rem !important;
	font-size: 1.5rem;
	justify-content: center;
	margin: auto;
	display: flex;
}

/* lista */

ul {
	margin-top: 1rem;
	padding: 0;
	display: flex;
	justify-content: center;
}

ul li {
	float: left;
}

li {
	font-size: 1rem;
	margin: 0 0.7rem;
	width: auto;
	display: block;
	text-align: center;
	text-decoration: none;
}

li a {
	text-decoration: none !important;
	color: black;
}

li :hover {
	color: #d4af37;
}
hr {
	margin-top: 0.1rem !important;
	margin-bottom: 0.5rem !important;
}

/* banner */
.banner {
	margin-top: 0.5rem;
	display: flex;
	justify-content: center;
}

.banner img {
	width: 89%;
	border: gray solid 1px;
	border-radius: 1rem;
}

/* catalogo
	*/
.contenedor {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

.contenedor div {
	background-color: whitesmoke;
	border: 1px solid gray;
	border-radius: 1.1rem;
}

.contenedor div:hover {
	opacity: 0.8;
	border: #d4af37 solid 0.1rem;
	border-radius: 1.1rem;
}

.contenedor img {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 15rem !important;
}

.contenedor p {
	padding: 0.5rem 0;
	padding-top: 0.9rem;
	background: #ededed;
	font-family: sans-serif;
	font-size: 1rem;
	/* border-top: gray solid 1px; */
	color: black;
	text-align: center;
	border-radius: 0 0 1rem 1rem;
}

/* footer */

footer {
	background-color: #000000;
	color: #ffffff;
	padding: 40px;
	width: 100% !important;
}
.container_footer {
	display: flex;
	justify-content: space-between;
}
.colum1 {
	max-width: 400px;
}
.colum1 h1 {
	font-size: 22px;
}
.colum1 p {
	font-size: 14px;
	color: #f8f8f8;
	margin-top: 28px;
}
.colum2 {
	max-width: 400px;
}
.colum2 h1 {
	font-size: 22px;
}
.colum2_row {
	margin-top: 20px;
	display: flex;
}
.colum2_row img {
	width: 36px;
	height: 36px;
}
.colum2_row label {
	margin-top: 10px;
	margin-left: 10px;
	color: #f8f8f8;
}
.colum3 {
	max-width: 400px;
}
.colum3 h1 {
	font-size: 22px;
}
.colum3_row {
	margin-top: 20px;
	display: flex;
}
.colum3_row img {
	width: 36px;
	height: 36px;
}
.colum3_row label {
	margin-top: 10px;
	margin-left: 20px;
	max-width: 140px;
}
.container_footer2 {
	width: 100%;
	background: gray;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
.copiright {
	color: #f8f8f8;
}
.copiright a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}
@media screen and (max-width: 1000px) {
	.container_footer {
		flex-wrap: wrap;
	}

	.banner img {
		width: 100%;
	}

	.contenedor img {
		height: 12rem !important;
		width: 100%;
	}

	.contenedor {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;
	}
	.colum3,
	.colum2 {
		margin-top: 20px;
	}
}

@media screen and (max-width: 600px) {
	.container_footer {
		display: block;
		flex-wrap: wrap;
	}
	.contenedor {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
	}
	.contenedor img {
		height: 9rem !important;
		width: 100%;
	}

	.logo img {
		width: 4.5rem;
	}

	.logo H1 {
		font-size: 1rem;
	}
}
